ion-content {
    --ion-background-color: #87CEFA;
    border: 3px solid black;
}

.block {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border-bottom: 1px solid black;
}

.block .options {
    margin-top: 5px;
    margin-bottom: 5%;
}

.block .options .row {
    font-size: 110%;
}

.block .options .row input {
    width: 80%;
}

.block .options .row mat-select {
    width: 60%;
    border-bottom: 1px solid black;
}

.information {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.information p {
    margin-right: 5%;
    font-size: 125%;
}

.row {
    display: flex;
    justify-content: space-between;
}

.block .showPlayers {
    margin-top: 5px;
    margin-bottom: 5%;
}

.block .showPlayers .row {
    font-size: 110%;
}

.block .showPlayers .row input {
    width: 80%;
}

.block .showPlayers .row mat-select {
    width: 60%;
    border-bottom: 1px solid black;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30%;
}

@media only screen and (min-width: 500px) and (max-width: 640px) {
    .block {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15%;
    }
}