<div class="buttons">
    <button mat-raised-button color="primary">Następna gra</button>
    <button mat-raised-button color="primary">Drużyna</button>
    <button mat-raised-button color="primary">Juniorzy</button>
    <button mat-raised-button color="primary">Transfery</button>
    <button mat-raised-button color="primary">Terminarz</button>
    <button mat-raised-button color="primary">Tabele</button>
    <button mat-raised-button color="primary">Zamknij</button>
    <button mat-raised-button color="primary">Następny sezon</button>
</div>