<nav>
    <div class="navbar">
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/menu">Menu</a>
        <a mat-button routerLink="/tables">Tables</a>
        <a mat-button routerLink="/juniors">Juniors</a>
        <a mat-button routerLink="/save">Save</a>
        <a mat-button routerLink="/schedule">Schedule</a>
        <a mat-button routerLink="/team">Team</a>
        <a mat-button routerLink="/transfers">Transfers</a>
    </div>
</nav>
<router-outlet></router-outlet>