<ion-content>
    <div class="block">
        <mat-select disableRipple>
            <mat-option value="1">Option 1</mat-option>
            <mat-option value="2">Option 2</mat-option>
            <mat-option value="3">Option 3</mat-option>
        </mat-select>
        <mat-select disableRipple>
            <mat-option value="1">Option 1</mat-option>
            <mat-option value="2">Option 2</mat-option>
            <mat-option value="3">Option 3</mat-option>
        </mat-select>
    </div>

    <div class="buttons">
        <button mat-raised-button (click)="clear()" color="primary">Wyczyœæ</button>
    </div>

    <div class="results">
        <p>Gosp.</p>
        <p>Gole gosp.</p>
        <p>Gole goœcia</p>
        <p>Goœæ</p>
        <p>Dzieñ meczu</p>
        <p>Data</p>
    </div>
</ion-content>
