<ion-content>
    <div>
        <div class="block">
            <div class="options">
                <div class="row">
                    <p>Kraj</p>
                    <mat-select disableRipple>

                    </mat-select>
                </div>
                <div class="row">
                    <p>L. juniorów</p>
                    <mat-select disableRipple>

                    </mat-select>
                </div>
                <div class="row">
                    <p>Cena</p>
                    <p>00</p>
                </div>
                <div class="buttons">
                    <button mat-raised-button (click)="sendScout()" color="primary">Wyœlij skauta</button>
                </div>
            </div>
        </div>

        <div class="block">
            <div class="showPlayers">
                <div class="row">
                    <p>Ocena ogólna</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Potencja³</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Defensywa</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Ofensywa</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Podania</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Um. bramkarskie</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Imiê</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Nazwisko</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Kraj</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Data urodzenia</p>
                    <p>00</p>
                </div>
                <div class="row">
                    <p>Wartoœæ</p>
                    <p>00</p>
                </div>
            </div>
            <div class="buttons">
                <button mat-raised-button (click)="contractPlayer()" color="primary">Zakontraktuj zawodnika</button>
            </div>
        </div>

        <div class="block">
            <div class="information">
                <p>Imiê</p>
                <p>Nazwisko</p>
                <p>Wiek</p>
                <p>Pozycja</p>
                <p>Ocena</p>
            </div>
        </div>
    </div>
</ion-content>